@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  height: 100vh;
}

header{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  background-color: #89CFF0; 
}

.logo img{
  width: 100px;
  display: flex;
  justify-content: center;
}

.txt-logo span{
  color: #DA2614;
}

.nav ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  box-sizing: border-box;
  color: black;
}

.item-nav{
  border: 1px solid;
  border-radius: 16px;
  padding: 6px 10px;
  background-color: #A1CAF1;
  list-style: none;
}

.item-nav:hover{
  background-color: gray;
}

nav:hover{
  background-color: black;
  cursor: pointer;
}

li a{
  text-decoration: none;
}

.btn-mobile{
  display: none;
}

main {
  padding: 10%;
  line-height: 2;
  background-image: url(../img/fundo3.webp);
  }
  
  p{
    font-size: 12px;
  }
  
  h1 {
    background-image: linear-gradient(90deg, rgba(219,206,202,1) 0%, rgba(206,224,17,1) 35%, rgba(255,115,0,1) 100%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  main h3, h2{
    line-height: 4;
  }
  
  strong {
  gap: 15px;
  line-height: 3;
  }
  
.text-banner{
  display: flex;
  color:whitesmoke;
  flex-direction: column;
  align-items: center;
  margin: 5%;  
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.8);
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.514);
  padding: 20px;
  text-align: justify;
}

.video2{
  margin-bottom: 20px;
  margin: 0px, -20px, -30px, -20px;
  padding: 20px;
  padding-bottom: 55%;
  position: relative;
}

div.video2 > iframe{
  height: 90%;
  width: 90% ;
  position: absolute;
  top: 5%;
  left: 5%;
}

footer{
  height: auto;
  margin: auto;
  background-color: #1E62D0;
  padding: 2%;
  width: 100vw;
  position: absolute;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.container_alunos {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.aluno {
  justify-content: space-between;
}
.img-redes {
  align-content: space-between;  
}

.final{
  justify-content: center;
  text-align: center;
  line-height: 2;
}

@media (max-width: 360px)
{
    html{
      font-size: 16px;
    }
  
    body {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
    header{    
      position: relative;    
    }
  
    .btn-mobile{
      display: block;
    }
  
    .item-nav{
      display: none;
    }
  
    .text-banner {
      text-align: justify;
    }  
    footer{
      padding: 1%;
      text-align: center;
      align-items: center;
      align-self: center;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  
    .container_alunos {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  
    a .container_alunos {
      align-content: center;
    }
}